body {
    padding: 0;
}

.login-form-container {
    height: 100dvh;

    display: none;
    align-items: center;
    justify-content: center;
}

.login-form-container.show {
    display: flex;
}

.login-form-container form {
    width: 400px;
    max-width: 50%;

    display: flex;
    flex-direction: column;
    gap: 2em;

    padding: 2em;

    background-image: linear-gradient(var(--bg-light), var(--bg));

    box-shadow: inset 0 2px 2px var(--highlight), 0 -2px 2px var(--border);
    border-radius: 2em;
}

.login-form-container form .error-msg {
    display: none;
}

.login-form-container form h2 {
    color: var(--primary);
    
    font-size: 2.5em;
    font-family: "Archivo Black", sans-serif;

    text-align: center;
}

.login-form-container form .login-form-group {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.login-form-container form .login-form-group label {
    font-size: 1.25em;
}

.login-form-container form .login-form-group input {
    width: auto;

    padding: 0.5em 1em;

    background-color: var(--border);

    border: none;
    border-radius: 1em;
    box-shadow: inset 0 1px 2px var(--highlight), 0 -1px 2px var(--border);

    outline: none;
}

.login-form-container form button {
    width: fit-content;
    margin: 0 auto;

    padding: 0.5em 1.5em;

    color: var(--secondary);

    font-size: 1.25em;

    background-color: transparent;

    border: 1px solid var(--secondary);
    border-radius: 9999px;

    cursor: pointer;

    transition: 0.25s color, 0.25s background-color;
}

.login-form-container form button:hover {
    color: var(--text);

    background-color: var(--secondary);
}

.admin-container {
    min-height: 100dvh;

    display: none;
}

.admin-container.show {
    display: flex;
}

.admin-container .orders {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2em;

    padding: 2em;

    --columns: 13em 20em 10em 15em;
}

.admin-container .orders .orders-top {
    width: 100%;

    display: grid;
    grid-template-columns: var(--columns);

    padding: 0 2em;
}

.admin-container .orders .order {
    width: 100%;

    display: grid;
    grid-template-columns: var(--columns);

    padding: 1.5em 2em;

    background-image: linear-gradient(var(--bg-light), var(--bg));

    box-shadow: inset 0 2px 2px var(--highlight), 0 -2px 2px var(--border);
    border-radius: 2em;

    cursor: pointer;

    transition: 0.25s translate;
}

.admin-container .orders .order:hover {
    translate: -1em 0;
}

.admin-container .orders .order p {
    text-wrap: nowrap;
    overflow: hidden;
}

.admin-container .order-view-backdrop {
    position: fixed;
    inset: 0;
    background-color: var(--bg-dark);

    opacity: 0;

    pointer-events: none;
    cursor: pointer;

    transition: 0.25s opacity;
}

.admin-container.view-active .order-view-backdrop {
    opacity: 0.5;

    pointer-events: all;
}

.admin-container .order-view {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;

    translate: 100% 0;

    display: flex;
    flex-direction: column;

    padding: 3em;

    background-color: var(--bg);

    transition: 0.25s translate;
}

.admin-container.view-active .order-view {
    translate: 0;
}

.admin-container .order-view h2 {
    color: var(--primary);

    font-size: 2.75em;
    font-family: "Archivo Black", sans-serif;

    text-align: center;
}

.admin-container .order-view span {
    margin-bottom: 1em;

    color: var(--text-muted);

    text-align: center;
}

.admin-container .order-view h3 {
    margin-bottom: 0.25em;

    font-size: 1.5em;
}

.admin-container .order-view p {
    margin-bottom: 1.25em;

    color: var(--text-muted);

    font-size: 1.25em;
}